aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
alabaster 
alembic==1.15.2
anaconda-client 
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
argh==0.26.2
argon2-cffi 
arrow 
async-generator 
async-timeout==5.0.1
atomicwrites==1.4.0
attrs 
audioread==3.0.1
autopep8 
Babel 
backcall 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
cached-property 
cachetools==5.5.2
certifi==2021.10.8
cffi 
chardet 
charset-normalizer 
click==8.1.8
cloudpickle
colorama 
contextlib2  
debugpy 
dnspython==2.7.0
docutils 
entrypoints==0.3
et-xmlfile==1.1.0
eventlet==0.39.1
exceptiongroup==1.2.2
fastcache 
filelock 
flake8 
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
fonttools==4.25.0
frozenlist==1.5.0
fsspec 
future 
gevent 
glob2 
gmpy2==2.0.8
google==3.0.0
google-api-core==2.24.2
google-auth==2.39.0
google-cloud==0.34.0
google-cloud-speech==2.32.0
google-cloud-texttospeech==2.26.0
googleapis-common-protos==1.70.0
greenlet 
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h5py
HeapDict 
html5lib 
httpcore==1.0.7
httpx==0.28.1
idna 
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous==2.2.0
jdcal 
jedi 
Jinja2==3.1.5
jinja2-time 
jiter==0.9.0
joblib==1.4.2
json5
jsonschema 
olefile 
openai==0.28.0
openpyxl 
packaging 
pandas==1.3.4
pandocfilters 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==6.2.4
python-dateutil 
python-dotenv==1.0.1
python-engineio==4.11.2
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
python-socketio==5.12.1
pytz==2021.3
PyWavelets 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
redis==5.2.0
regex 
requests
rope 
rsa==4.9.1
Rtree 
ruamel-yaml-conda 
scikit-image==0.18.3
scikit-learn==1.5.2
scikit-learn-intelex==2021.20210714.100439
scipy==1.13.1
seaborn 
Send2Trash
simple-websocket==1.1.0
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soundfile==0.13.0
spotipy==2.24.0
spyder
spyder-kernels
SQLAlchemy==2.0.38
statsmodels
sympy 
tables 
TBB==0.2
tblib 
terminado==0.9.4
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==3.1.3
