aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
alabaster 
alembic==1.15.2
anaconda-client 
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
argh==0.26.2
argon2-cffi 
arrow 
asn1crypto 
astroid 
astropy 
async-generator 
async-timeout==5.0.1
atomicwrites==1.4.0
attrs 
audioread==3.0.1
autopep8 
Babel 
backcall 
backports.functools-lru-cache
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
beautifulsoup4 
bidict==0.23.1
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
blinker==1.9.0
bokeh 
boto==2.49.0
Bottleneck 
brotlipy==0.7.0
cached-property 
cachetools==5.5.2
certifi==2021.10.8
cffi 
chardet 
charset-normalizer 
click==8.1.8
cloudpickle
colorama 
contextlib2 
cookiecutter 
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
debugpy 
decorator 
defusedxml 
diff-match-patch 
distributed 
distro==1.9.0
dnspython==2.7.0
docutils 
entrypoints==0.3
et-xmlfile==1.1.0
eventlet==0.39.1
exceptiongroup==1.2.2
fastcache 
filelock 
flake8 
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
fonttools==4.25.0
frozenlist==1.5.0
fsspec 
future 
gevent 
glob2 
gmpy2==2.0.8
google==3.0.0
google-api-core==2.24.2
google-auth==2.39.0
google-cloud==0.34.0
google-cloud-speech==2.32.0
google-cloud-texttospeech==2.26.0
googleapis-common-protos==1.70.0
greenlet 
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h5py
HeapDict 
html5lib 
httpcore==1.0.7
httpx==0.28.1
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous==2.2.0
jdcal 
jedi 
Jinja2==3.1.5
jinja2-time 
jiter==0.9.0
joblib==1.4.2
json5
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
lazy-object-proxy 
lazy_loader==0.4
libarchive-c 
librosa==0.10.2.post1
llvmlite==0.43.0
locket==0.2.1
lxml 
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib 
matplotlib-inline 
mccabe==0.6.1
mir-eval==0.7
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multidict==6.4.3
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk==3.6.5
nose 
notebook 
numba==0.60.0
numexpr 
numpy==2.0.2
numpydoc 
olefile 
openai==0.28.0
openpyxl 
packaging 
pandas==1.3.4
pandocfilters 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==4.3.6
pluggy 
ply==3.11
pooch==1.8.2
poyo 
prometheus-client 
prompt-toolkit 
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil 
ptyprocess 
py 
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.44.1
pydantic==2.11.3
pydantic_core==2.33.1
pydocstyle 
pyerfa
pyflakes
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==6.2.4
python-dateutil 
python-dotenv==1.0.1
python-engineio==4.11.2
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
python-socketio==5.12.1
pytz==2021.3
PyWavelets 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
redis==5.2.0
regex 
requests
rope 
rsa==4.9.1
Rtree 
ruamel-yaml-conda 
scikit-image==0.18.3
scikit-learn==1.5.2
scikit-learn-intelex==2021.20210714.100439
scipy==1.13.1
seaborn 
Send2Trash
simple-websocket==1.1.0
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soundfile==0.13.0
soupsieve
soxr==0.5.0.post1
Sphinx==4.2.0
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport
spotipy==2.24.0
spyder
spyder-kernels
SQLAlchemy==2.0.38
statsmodels
sympy 
tables 
TBB==0.2
tblib 
terminado==0.9.4
testpath 
text-unidecode 
textdistance 
threadpoolctl==3.5.0
three-merge 
tifffile 
tinycss 
toml 
toolz 
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado 
tqdm 
traitlets 
typed-ast 
typing-inspection==0.4.0
typing_extensions==4.13.1
ujson 
unicodecsv==0.14.1
Unidecode
urllib3==1.26.7
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==3.1.3
whichcraft 
widgetsnbextension 
wrapt 
wsproto==1.2.0
wurlitzer 
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
xmltodict 
yapf 
yarl==1.20.0
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
